#topbar{
  background-image:url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-2/pattern.jpeg);
  font-size:100px;
  color:khaki;
  text-align:center;
  font-weight:bold;
}
body{
  font-family:helvetica;
}
#Brushbar{
  background-color:mediumspringgreen;
  font-size:32px;
  font-weight:bold;
  color:white;
}
#brushprice{
  color:blue;
}
#frameprice{
  color:blue;
}
#framebar{
  background-color:lightcoral;
  font-size:32px;
  font-weight:bold;
  color:white;
}
#paintprice{
  color:blue;
}
#paintbar{
  background-color:skyblue;
  color:white;
  font-weight:bold;
  font-size:32px;
}
